@font-face {
  font-family: 'iconfont';  /* Project id 1704799 */
  src: url('//at.alicdn.com/t/font_1704799_dscx1u4r1kr.woff2?t=1630051391447') format('woff2'),
       url('//at.alicdn.com/t/font_1704799_dscx1u4r1kr.woff?t=1630051391447') format('woff'),
       url('//at.alicdn.com/t/font_1704799_dscx1u4r1kr.ttf?t=1630051391447') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-trends-thumbs:before{content: "\a004";}/* 点赞 */
.icon-trends-evalute:before{content: "\a003";}/* 评价 */
.icon-man:before{content: "\a002";}/* 男 */
.icon-women:before{content: "\a001";}/* 女 */


.icon-reg-phone:before{content: "\e68d";}/*  */
.icon-reg-passwork:before{content: "\e664";}/*  */
.icon-reg-msg:before{content: "\e63a";}/*  */
.icon-reg-code:before{content: "\e63d";}/*  */


.icon-:before{content: "\e";}/*  */
.icon-:before{content: "\e";}/*  */