.sign-top{text-align: center;position: relative;padding: 20px 0;display: flex;-webkit-justify-content: center;align-items: center;}
.sign-top .header-img{width: 60px;height: 60px;margin: 0 auto;border-radius: 50%;border: 2px #fff solid;}
.sign-top .header-img image{width: 56px;height: 56px;border-radius: 50%;display: flex;}
.sign-top .sign-btn{border: 1px #fff solid;display: block;height: 30px;line-height: 30px;width: 110px;border-radius: 30px;color: #fff;font-size: 16px;margin: 0 auto;padding: 0;background: transparent;}
.sign-top .s-item{width: 100%;}
.sign-top .h-num ._span{color: #EBFA32;}


.cale-box{display: flex;flex-wrap: wrap;width: 350px;margin: 0 auto;}
.cale-box .day{border: 1px #eee solid;width: 51px;height: 51px;margin-left: -1px;margin-bottom: -1px;position: relative;}
.cale-box .cur:before{content: "";display: flex;width: 48px;height: 48px;background: transparent;position: absolute;top: -1px;left: -1px;border: 2px #24B2F2 solid;z-index: 1;}
.cale-box .cur:after{content: "";display: flex;position: absolute;right: 14px;top: 15px;width: 9px;height: 16px;border-width: 0 2px 2px 0;border-color: #24B2F2;border-style: solid;transform: rotate(45deg);}


.month .search-select{padding: 0px;border: 0;width: 120px;}
.month .search-select .order-picker{padding-left: 0;}
.month .search-select .iconfont{display: none;}


.runing .run-item{width: 70px;text-align: center;}
.runing .add-cale .run-item{position: relative;margin-bottom: 8px;}
.runing .add-cale .run-item:before{content: "";display: block;position: absolute;bottom: -5px;left: 50%;margin-left: -4.5px;width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 6px solid #fff;}
.runing .progress .run-item{width: 90px;}
.runing .progress,.runing .progress ._p{position: relative;height: 30px;}
.runing .progress:before,.runing .progress ._p:before{content: "";display: block;position: absolute;left: 0;right: 0;top: 50%;margin-top: -3px;height: 6px;width: 100%;background: #fff;z-index: 0;}
.runing .progress .circular{display: inline-block;width: 30px;height: 30px;background: #fff;border-radius: 50%;position: relative;z-index: 9;}
.runing .status .nav{border: 1px #999 solid;}
.runing .cur .circular{background: #24B2F2;}
.runing .add-cale .cur{background: #24B2F2!important;}
.runing .add-cale .cur ._p{color: #fff!important;}
.runing .add-cale .cur:before{border-top-color: #24B2F2;}
.runing .status .cur ._p{color: #24B2F2!important;}
.runing .status .cur .nav{border-color: #24B2F2;}
.runing .progress .cur:before{background: #24B2F2;}