.pages-distribution-add-main{background: #fff;}

.add-input ::v-deep .dx-cell.textarea{display: block;}
.add-input ::v-deep .dx-cell.textarea::after{display: none;}
.add-input ::v-deep .dx-text{font-size: 32rpx;margin-top: 20rpx;border: 1rpx #eee solid;line-height: 1.4;padding: 20rpx 30rpx;border-radius: 8rpx;height: 240rpx;min-height: 240rpx;}