
.cm-head{position: relative;}
.cash-btn{position: absolute;top: 10px;right: 10px;border: 1px #fff solid;border-radius: 26px;padding: 0 10px;height: 26px;line-height: 26px;}


.cm-list .weui-cell:before{border-color: #eee;right: 15px;}