.flex-center{
    display: flex;
    justify-content: center;
}
.flex-right{
	display: flex;
    justify-content: flex-end;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-middle{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-1{
    flex-grow: 1;
}
.width100{
    width: 100%;
}
.pos-re{
    position: relative;
}
.pos-ab{
    position: absolute;
}

.flex1{
    flex:1;overflow: hidden;
}