.coupon-list .list_item{display: flex;position: relative;border-radius: 12upx;padding: 20upx;}
.coupon-list .list_item .item_left .img{width: 220upx;height: 220upx;display: flex;margin-right: 20upx;border-radius: 12upx;}
.coupon-list .list_item .item_right{width: 100%;display: flex;flex-wrap: wrap;align-content: space-between;position: relative;z-index: 2;flex: 1;}
.coupon-list .list_item .ir-bottom{align-items: center;}
.coupon-list .list_item .ir-bottom .time{font-family: Calibri;flex: 1;}
.coupon-list .list_item .item_right .state{border: 1upx #6481DC solid;border-radius: 40upx;color: #6481DC;width: 160upx;text-align: center;}
.coupon-list .list_item .item_right .gouser{border-color: #ff721f;color: #ff721f;}
.coupon-list .list_item .item_right .yesuser{border-color: #aaa;color: #999;}

.completed{position: absolute;top: 0;right: 0;z-index: 1;}
.completed .img{width: 160upx;height: 160upx;}