.className{height: 88rpx;line-height: 88rpx;text-align: center;color: #fff;font-size: 30rpx;width: 100%;}

.content{}
.content .dx-cell{border-bottom: none!important;}
.content .dx-text{width: 100%;height:240rpx;min-height:240rpx;line-height:40rpx;}
.text .dx-cell{ font-size: 32rpx !important;}
.xiaozhu2 .dx-cell input{font-size: 36rpx;}

.pay_method{font-size: 32rpx;}
.pay_method .radio-item{display: flex;align-items: center;justify-content: space-between;padding: 20rpx 0;}
.pay_method .radio-item .left{display: flex;align-items: center;}

/* 同意条款 */
.footer-agreement{display: flex;justify-content: center;align-items: center;font-size: 28rpx;padding-top: 40rpx;}
.agreement checkbox{zoom: 70%;display: flex;}