.count-top{padding: 20rpx 0;}
.count-top .ct-group{display: flex;}
.count-top .ct-item{width: 100%;padding: 20rpx;}
.count-top .ct-item .txt{font-size: 30rpx;color: rgba(255,255,255,0.9);}
.count-top .ct-item .num{font-size: 72rpx;color: rgba(255,255,255,1);}
.count-top .ct-group:nth-child(2) .ct-item{display: flex;align-items: center;justify-content: space-between;}
.count-top .ct-group:nth-child(2) .txt{font-size: 30rpx;color: rgba(255,255,255,0.5);}
.count-top .ct-group:nth-child(2) .num{font-size: 30rpx;color: rgba(255,255,255,0.5);}


.count-people .cp-lists{display: flex;background-color: #fff;padding: 30rpx;position: relative;}
.count-people .cp-lists::after{content: '';display: block;position: absolute;bottom: 0;left: 160rpx;right: 30rpx;height: 2rpx;background-color: #eee;}
.count-people .cp-lists:last-child::after{height: 0;}
.count-people .cp-left .img{width: 100rpx;height: 100rpx;display: flex;border-radius: 50%;margin-right: 30rpx;}
.count-people .cp-right{flex: 1;}
.count-people .cpr-top .title .nav{color: #387ef8;padding: 0 8rpx;border-radius: 8rpx;height: 40rpx;line-height: 38rpx;border: 1rpx #387ef8 solid;margin-left: 10rpx;}