#mode .weui-cell:before{border: 0;}


/* 选择地址 */
#address .add-add{display: flex;justify-content: space-between;align-items: center;}
#address .add-icon{background: #3384FA;width: 40px;height: 40px;text-align: center;line-height: 40px;color: #fff;font-size: 18px;border-radius: 6px;}
#address .add-txt{flex: 1;overflow: hidden;}


/* 地址信息 */
.add-info{display: flex;justify-content: space-between;align-items: center;}
.add-info .info{flex: 1;overflow: hidden;}
.add-info .info .name{line-height: 24px;}
.add-info .info .add-detail{display: flex;}
.add-info .info .add-detail .label{width: 45px;line-height: 20px;}
.add-info .info .add-detail .name{flex: 1;overflow: hidden;line-height: 20px;}
.pay_line image{width: 100%;display: flex;height: 2px;}


/* 商品信息 */
.pro-info .cart-tb {display: flex;}
.pro-info .cart-tb .pro-img image {width: 60px;height: 60px;display: flex;}
.pro-info .pro-name {flex: 1;overflow: hidden;}
.pro-info .pro-name .name{height: 40px;margin: 0;overflow: hidden;text-overflow: ellipsis;}
.pro-info .pro-price {text-align: right;position: absolute;bottom: 10px;right: 10px;width: 75px;margin-left: 5px;color: #FF4422;}


/* 付款方式 */
#mode .weui-cell_input{padding: 10px 15px;}


/* 计算与优惠信息 */
#calculation .list-group {padding: 10px 15px;line-height: 30px;display: flex;justify-content: space-between;}


/* 结算脚部 */
#footer {height: 50px;line-height: 50px;position: fixed;left: 0;bottom: 0;width: 100%;background: #fff;display: flex;justify-content: space-between;}
#footer ._form{width: 100%;}
#footer .flex {justify-content: space-between;}
#footer .f_right {width: 120px;text-align: center;color: #fff;background: #FF4351;font-size: 18px;border-radius: 0;line-height: 50px;}