page{position: relative;padding-bottom: 0!important;}
page,scroll-view{height: 100%;}


/* 产品轮播 */
.show_banner{}
.show_banner image{width: 100%;}

.brand-nav .item{width: 33.333%;}
.brand-nav .nav{padding: 16upx 0;border: 2upx #ddd solid;border-radius: 6upx;color: #666;text-align: center;}
.brand-nav .cur{background: #33c45d;border-color: #33c45d;color: #fff;}


/* 产品信息 */
.pro_infor{border-top: 2upx #eee solid;}
.pro_infor .pro_name{line-height: 40upx;}
.pro_infor .cms_price {display: flex;line-height: 1;align-items: baseline;margin-top: 20rpx;}
.pro_infor .cms_price .cprice{padding-left: 2%;}
.pro_infor .other-info{border-bottom: #eee 2upx dashed;color: #999;display: flex;justify-content: space-between;}
.pro_infor .other-info .info-item{}
.pro_infor .buy-num-indetail{border-bottom: 0;height: auto;}
.pro_infor .reward{position: relative;}
.pro_infor .reward:before{content: "";display: inline-block;height: 16upx;width: 16upx;border-width: 2upx 0 0 2upx;border-color: #eee;border-style: solid;-webkit-transform: matrix(.71,.71,-.71,.71,0,0);transform: matrix(.71,.71,-.71,.71,0,0);position: relative;top: -9upx;position: absolute;left: 30upx;background: #fff}


/* 评价 */
.evalute .u-info .u-info-box{display: flex;align-items: center;}
.evalute .u-info .u-img .img{width: 80upx;height: 80upx;border-radius: 80upx;display: flex;}
.evalute .u-info .u-name{width: 100%;flex: 1;overflow: hidden;}
.evalute .u-con .p{font-size: 26upx;line-height: 44upx;}
.evalute .u-con .image-group{display: flex;margin: 0 -4px;}
.evalute .u-con .image-group .img-item{width: 140upx;box-sizing: border-box;margin: 8upx;}
.evalute .u-con .image-group .img-item image{width: 140upx;height: 140upx;display: flex;}
.evalute .u-con .again{border-left: 8upx #FF4351 solid;line-height: 28upx;}



/* 产品内容 */
.pro_title{color: #333;line-height: 80upx;border-bottom: 2upx #eee solid;display: flex;font-size: 32upx;}
.pro_title .title-item{width: 100%;text-align: center;}
.pro_title .title-item ._span{font-size: 32upx;}
.pro_title .title-item ._span.cur{border-bottom: 6upx solid #FF721F;padding: 16upx;}
.pro-content{padding:20upx 20upx 120upx 20upx;}
.pro-content .pro-con-main{}
.pro-content .pro-con-main image{width: 100%!important;}
.pro-content .pro-con-main img{width: 100%!important;}
.pro_footer{position: fixed;bottom: 0;left: 0;height: 6rem;background: #ddd;z-index: 999;}
.data-con{padding-bottom: 120upx!important;}


.share-tip{position: fixed;top: 0;right: 0;width: 100%;height: 100%;text-align: right;z-index: 9;}
.share-tip .img{width: 70%;}


.arrow-top{position: fixed;z-index:9;right: 30upx;bottom:20vh;width: 100upx;height: 100upx;text-align: center;background: #FF721F;border-radius: 50%;}
.arrow-top .iconfont{color: #fff;font-size: 50upx;display: block;line-height: 100upx;}


.text .weui-label{font-size:32upx !important}
.order-picker .picker{font-size:32upx !important}


.tui-number-box {padding: 40upx;box-sizing: border-box;margin-bottom: 30upx;background: #fff;font-size: 30upx;display: flex;align-items: center;justify-content: space-between;}