
#header{height: 40px;padding: 0 10px;background: #FA4444;position: relative;}
#header .h_left{padding-right: 10px;color: #fff;line-height: 40px;}
#header .h_txt{color: #fff;line-height: 40px;text-align: center;font-size: 16px;}

#pay_price{font-size: 30px;font-family: 'Arial';padding: 20px 0;text-align: center;margin-top: 20px;}

#pay_info{padding: 0 10px;}
#pay_info .list-group{padding: 0 10px;line-height: 36px;}
#pay_info .list-group .iconfont{color: #888;}
#pay_info .list-group .txt_l{font-size: 14px;color: #888;}

#pay_submit{margin: 20px 10px;background: #FF4351;height: 40px;line-height: 40px;text-align: center;color: #fff;border-radius: 5px;font-size: 16px;}