page{background: #fff;}


.login_bg{position: fixed;z-index: 0;top: 0;left: 0;right: 0;bottom: 0;}
.login_bg .img{height: 100%;width: 100%;position: absolute;z-index: 1;}
.login_bg .bg{position: absolute;z-index: 2;background-color: rgba(0,0,0,0.7);height: 100%;width: 100%;}


/* logo */
.logo{text-align: center;padding-top: 100rpx;}
.logo .img{width: 300rpx;height: 300rpx;}
.login_box .logo{padding-top: 230rpx;}


/* 填写资料 */
.write_info{padding: 80rpx 100rpx;position: relative;z-index: 9;}
.write_info ::v-deep .dx-cell{padding: 20rpx 0!important;}
.write_info ::v-deep .dx-input{color: #fff;}
.write_info ::v-deep .dx-nav{background-color: transparent!important;}
.write_info .slot-icon .iconfont{font-size: 36rpx;color: #fff;margin-right: 30rpx;}
.write_info  ::v-deep .dx-btn{background-color: #ffd8ad!important;color: #140000!important;border-color: #ffd8ad!important;}