.show_banner image {width: 100%;}

uni-swiper{height: 750upx;}


.pro-price {color: #ea5404;}
.pro-price .del {color: #777;font-size: 14px;text-decoration: line-through;}

.alert-danger {background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);background-repeat: repeat-x;border-color: #dca7a7;padding: 15px;margin-bottom: 20px;border: 1px solid transparent;color: #a94442;background-color: #f2dede;}
.alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;padding: 15px;margin-bottom: 20px;border: 1px solid transparent;}
.pro-title {margin: 0;height: 40px;position: relative;line-height: 40px;overflow: hidden;}
.pro-title .name{border-bottom: 4px solid #FF721F;padding:6px 0;}
.pro-content {background: #fff;}
.info-footer {position: fixed;left: 0px;bottom: 0;z-index: 999;text-align: center;}

.wxParse .p{margin: 0;}