page {background: #f7f7f7;}
.container {padding-bottom: env(safe-area-inset-bottom);}


/* 隐藏scroll-view滚动条*/
::-webkit-scrollbar {width: 0;height: 0;color: transparent;}
.tui-header-box {width: 100%;background: #fff;padding: 0 10px;}
.tui-header {display: flex;align-items: flex-start;}
.tui-back {margin-left: 8upx;height: 32px !important;width: 32px !important;}
.tui-searchbox {width: 100%;height: 30px;border-radius: 15px;font-size: 12px;background: #f7f7f7;padding: 0 10px;box-sizing: border-box;color: #999;display: flex;align-items: center;overflow: hidden;z-index: 999;position: relative;}

/* #ifdef MP-WEIXIN */
.tui-search-mr {margin-right: 20upx !important;}
/* .tui-product-list{margin-top: 186upx!important;} */
/* #endif */

/* #ifdef MP-BAIDU */
.tui-search-mr {margin-right: 20upx !important;}
/* .tui-product-list{margin-top: 200upx!important;} */
/* #endif */


.tui-search-text {padding-left: 16upx;}
.tui-search-key {max-width: 80%;height: 100%;padding: 0 16upx;margin-left: 12upx;display: flex;align-items: center;border-radius: 15px;background: rgba(0, 0, 0, 0.5);color: #fff;}
.tui-key-text {box-sizing: border-box;padding-right: 12upx;font-size: 12px;line-height: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/*screen*/
.tui-header-screen {width: 100%;box-sizing: border-box;background: #fff;position: fixed;z-index: 1000;}
.tui-screen-top,
.tui-screen-bottom {display: flex;align-items: center;justify-content: space-between;font-size: 28upx;color: #333;}
.tui-screen-top {height: 88upx;position: relative;background: #fff;}
.tui-top-item {height: 28upx;line-height: 28upx;flex: 1;display: flex;align-items: center;justify-content: center;}
.tui-topitem-active {color: #e41f19;}
.tui-screen-bottom {height: 100upx;padding: 0 30upx;box-sizing: border-box;font-size: 24upx;align-items: center;overflow: hidden;}
.tui-bottom-text {line-height: 24upx;max-width: 82%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tui-bottom-item {flex: 1;width: 0;display: flex;align-items: center;justify-content: center;padding: 0 12upx;box-sizing: border-box;background: #f7f7f7;margin-right: 20upx;white-space: nowrap;height: 60upx;border-radius: 40upx;}
.tui-bottom-item:last-child {margin-right: 0;}
.tui-btmItem-active {background: #fcedea !important;color: #e41f19;font-weight: bold;position: relative;}
.tui-btmItem-active::after {content: "";position: absolute;border: 1upx solid #e41f19;width: 100%;height: 100%;border-radius: 40upx;left: 0;top: 0;}
.tui-btmItem-tap {position: relative;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.tui-btmItem-tap::after {content: "";position: absolute;width: 100%;height: 22upx;background: #f7f7f7;left: 0;top: 58upx;}
.tui-bold {font-weight: bold;}
.tui-active {color: #e41f19;}
.tui-icon-ml .tui-icon-class {margin-left: 6upx;}
.tui-ml {margin-left: 6upx;}
.tui-seizeaseat-20 {height: 20upx;}
.tui-seizeaseat-30 {height: 30upx;}
.tui-icon-middle .tui-icon-class {vertical-align: middle;}
.tui-middle {vertical-align: middle;}
/*screen*/

/*顶部下拉选择 属性*/
.tui-scroll-box {width: 100%;height: 480upx;box-sizing: border-box;position: relative;z-index: 99;color: #fff;font-size: 30upx;word-break: break-all;}
.tui-drop-item {color: #333;height: 80upx;font-size: 28upx;padding: 20upx 40upx 20upx 40upx;box-sizing: border-box;display: inline-block;width: 50%;}
.tui-drop-btnbox {width: 100%;height: 100upx;position: absolute;left: 0;bottom: 0;box-sizing: border-box;display: flex;}
.tui-drop-btn {width: 50%;font-size: 32upx;text-align: center;height: 100upx;line-height: 100upx;border: 0;}
.tui-btn-red {background: #e41f19;color: #fff;}
.tui-red-hover {background: #c51a15 !important;color: #e5e5e5;}
.tui-btn-white {background: #fff;color: #333;}
.tui-white-hover {background: #e5e5e5;color: #2e2e2e;}
/*顶部下拉选择 属性*/

/*顶部下拉选择 综合*/
.tui-dropdownlist {width: 100%;position: absolute;background: #fff;border-bottom-left-radius: 24upx;border-bottom-right-radius: 24upx;overflow: hidden;box-sizing: border-box;padding-top: 10upx;padding-bottom: 26upx;left: 0;top: 88upx;visibility: hidden;transition: all 0.2s ease-in-out;z-index: 999;}
.tui-dropdownlist-show {visibility: visible;}
.tui-dropdownlist-mask {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, 0.6);z-index: -1;transition: all 0.2s ease-in-out;opacity: 0;visibility: hidden;}
.tui-mask-show {opacity: 1;visibility: visible;}
.tui-dropdownlist-item {color: #333;height: 70upx;font-size: 28upx;padding: 0 40upx;box-sizing: border-box;display: flex;align-items: center;justify-content: space-between;}
/*顶部下拉选择 综合*/

.tui-drawer-box {width: 686upx;font-size: 24upx;overflow: hidden;position: relative;padding-bottom: 100upx;}
.tui-drawer-title {display: flex;align-items: center;justify-content: space-between;padding: 0 30upx;box-sizing: border-box;height: 80upx;}
.tui-title-bold {font-size: 26upx;font-weight: bold;flex-shrink: 0;}
.tui-location {margin-right: 6upx;}
.tui-attr-right {width: 70%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: right;}
.tui-all-box {width: 90%;white-space: nowrap;display: flex;align-items: center;justify-content: flex-end;}
.tui-drawer-content {padding: 16upx 30upx 30upx 30upx;display: flex;align-items: center;justify-content: space-between;box-sizing: border-box;}
.tui-input {border: 0;height: 64upx;border-radius: 32upx;width: 45%;background: #f7f7f7;text-align: center;font-size: 24upx;color: #333;}
.tui-phcolor {text-align: center;color: #b2b2b2;font-size: 24upx;}
.tui-flex-attr {flex-wrap: wrap;justify-content: flex-start;}
.tui-attr-item {width: 30%;height: 64upx;background: #f7f7f7;display: flex;align-items: center;justify-content: center;padding: 0 4upx;box-sizing: border-box;border-radius: 32upx;margin-right: 5%;margin-bottom: 5%;}
.tui-attr-ellipsis {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 96%;text-align: center;}
.tui-attr-item:nth-of-type(3n) {margin-right: 0%;}
.tui-attr-btnbox {width: 100%;position: absolute;left: 0;bottom: 0;box-sizing: border-box;padding: 0 30upx;background: #fff;}
.tui-attr-safearea {height: 100upx;display: flex;align-items: center;justify-content: space-between;padding-bottom: env(safe-area-inset-bottom);}
.tui-safearea-bottom {width: 100%;height: env(safe-area-inset-bottom);}
.tui-attr-btnbox::before {content: '';position: absolute;top: 0;right: 0;left: 0;border-top: 1upx solid #eaeef1;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
.tui-drawer-btn {width: 47%;text-align: center;height: 60upx;border-radius: 30upx;flex-shrink: 0;display: flex;align-items: center;justify-content: center;box-sizing: border-box;}
.tui-drawerbtn-black {border: 1upx solid #555;}
.tui-drawerbtn-primary {background: #e41f19;color: #fff;}


/* 商品列表*/
.tui-product-list {display: flex;justify-content: space-between;flex-direction: row;flex-wrap: wrap;box-sizing: border-box;padding-top: 0!important;}
.tui-product-container {flex: 1;margin: 0 12upx;}
.tui-product-container:last-child {margin-left: 0;}
.tui-pro-item {width: 100%;margin-bottom: 12upx;background: #fff;box-sizing: border-box;border-radius: 12upx;overflow: hidden;transition: all 0.15s ease-in-out;}
.tui-flex-list {display: flex;margin-bottom: 1upx !important;}
.tui-pro-img {width: 100%;display: block;}
.tui-proimg-list {width: 260upx;height: 260upx;flex-shrink: 0;border-radius: 12upx;}
.tui-pro-content {display: flex;flex-direction: column;justify-content: space-between;box-sizing: border-box;padding: 20upx;}
.tui-pro-tit {color: #2e2e2e;font-size: 26upx;word-break: break-all;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.dx-pro-group {padding-top: 18upx;}
.tui-sale-price {font-size: 34upx;font-weight: 500;color: #e41f19;}
.tui-unit {font-size: 24upx;color: #999;padding-left: 12upx;}
.tui-pro-pay {padding-top: 10upx;font-size: 24upx;color: #999;}
/* 商品列表*/